html {
  font-size: 62.5%;
}
body {
  background-color: #f5f3f3;
}
h1 {
  text-align: center;
}
h2 {
  font-size: 3rem;
}
h4 {
  font-size: 16px;
  font-weight: 700;
}
header {
  padding: 20px 0 0 0;
  background: white;
  text-align: center;
}
@media (min-width: 750px) {
  header {
    text-align: left;
  }
}
.borrar-curso {
  background-color: red;
  border-radius: 50%;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

ul {
  list-style: none;
}

.row-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1300px;
  margin: 0 auto;
}

/* Tablet (entre 768px y 991px) - 2 columnas */
@media (max-width: 991px) {

  .row-header{
    flex-direction: column;
  }

  .row-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Celular (hasta 767px) - 1 columna */
@media (max-width: 650px) {

  .row.box-header{
    display: flex;
  }
    .container{
        margin: 0;
        max-width: 100%;
    }
    
  .row-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
#hero {
  background-image: url(../img/hero.jpg);
  padding: 100px 0;
  background-size: cover;
}
#encabezado {
  margin: 30px 0;
  color: #e1e1e1;
}


.row-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido-hero {  
  color: white;
  padding: 0 30px;
}
.contenido-hero form {
  position: relative;
  margin-bottom: 0;
}
.contenido-hero form #buscador {
  height: 50px;
  margin-bottom: 0;
}
.contenido-hero form .submit-buscador {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0;
  display: block;
  text-indent: -9999px;
  width: 50px;
  background-image: url(../img/lupa.png);
  background-position: right center;
  background-repeat: no-repeat;
  border: none;
}

.barra {
  padding: 20px 0;
  background: #741d51; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #741d51 0%,
    #e44e52 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #741d51 0%,
    #e44e52 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #741d51 0%,
    #e44e52 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#741d51', endColorstr='#e44e52',GradientType=1 ); /* IE6-9 */
}

.barra p {
  margin: 0;
  color: white;
}
.icono {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 60px;
  background-size: 30px;
  margin-bottom: 40px;
  text-align: center;
}
@media (min-width: 750px) {
  .icono {
    margin-bottom: 0;
  }
}
.icono1 {
  background-image: url(../img/icono1.png);
}
.icono2 {
  background-image: url(../img/icono2.png);
}
.icono3 {
  background-image: url(../img/icono3.png);
}

#lista-cursos .row {
  margin-bottom: 20px;
}

.agregar-carrito {
  position: relative;
  display: inline-block;
  color: #333;
  text-decoration: none;
  transition: color 0.3s, border-bottom-color 0.3s;
  margin: 10px 0;
}

/* Animacion carrito */
.agregar-carrito::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #007bff;
  transition: width 0.3s;
}

/* Estilos del borde cuando se pasa el cursor */
.agregar-carrito:hover::before {
  width: 100%;
}

/* Estilos del icono del carrito */
.fa-cart-shopping {
  margin-right: 5px; /* Para separar el icono del texto */
}

.card {
  text-align: center;
  border: 1px solid #e1e1e1;
  background: white;
  padding: 20px 30px;
  border-radius: 8px;
  flex-basis: 33.33%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 1s ease, box-shadow 1s ease;
}

@media (min-width: 550px) {
  .card {
    text-align: left;
  }
}
/* .info-card  {
    padding: 10px 20px;
} */

.info-card p,
.card h4 {
  margin-bottom: 5px;
}

.info-card .precio .descuento {
  text-decoration: line-through;
  font-size: 18px;
  margin-top: 10px;
}
.info-card .precio span {
  font-weight: 700;
  font-size: 22px;
}

/*Custom*/
.valoracion {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.valoracion .box-img img {
  width: 100px;
}
.valoracion p {
  font-size: 15px;
  font-weight: bold;
}
.info-card h4 {
  font-size: 20px;
}

.box-info .lesson-ul {
  display: flex;
  gap: 30px;
  padding: 10px 0;
}

.box-info .lesson-ul {
  font-size: 14px;
  line-height: 15px;
  color: #6b7385;
}
.box-info .lesson-ul i {
  margin-right: 5px;
}

.lesson .lesson-ul {
  margin-bottom: 10px;
}
.box-info .descripcion {
  color: #6b7385ce;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.45;
}

.info-card .instructor {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
}
.info-card .instructor .box-img {
  border-radius: 50%;
}
.info-card .instructor img {
  width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
  border: 2px solid #6b738579;
  padding: 2px;
}

.info-card .instructor-single {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.info-card .box_precio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.info-card .box_precio .precio {
  font-size: 24px;
  font-weight: bold;
  color: #6b7385;
  margin-right: 10px;
}

.info-card .box_precio i {
  margin-right: 10px;
}

.info-card .agregar-carrito {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #6b7385;
}

.footer {
  margin-top: 40px;
  border-top: 1px solid #aaa;
  padding-top: 40px;
}
.footer .menu a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
}


#logo-footer {
  max-width: 100px;
  display: block;
  margin-bottom: 20px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.enlace {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 8px 0;
}

.enlace:hover {
  color: #aaa;
}

/* Media query para ajustar el tamaño del logo en pantallas pequeñas */
@media (max-width: 600px) {
  #logo-footer {
      max-width: 80px;
  }
}

/* Media query para tablet (768px) */
@media (max-width: 768px) {
  .columns {
      flex: 0 0 50%; /* Dos columnas en tablet */
      max-width: 50%;
  }
}

/* Media query para celular (480px) */
@media (max-width: 480px) {
  .columns {
      flex: 0 0 100%; /* Una columna en celular */
      max-width: 100%;
  }

  #footer {
      text-align: center;
  }
}



/* Carrito */

/* Estilos para la barra lateral del carrito */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; /* Por defecto está oculto */
  z-index: 9999; /* Asegura que el overlay esté por encima de otros elementos */
}

#carrito {
    position: fixed;
    top: 0;
    
    height: 100%;
    
    background-color: #fff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
    overflow-y: auto; /* Habilita el desplazamiento vertical cuando sea necesario */
    z-index: 1000; /* Asegura que el carrito esté por encima de otros elementos */
}

.carrito-lateral {
    padding: 20px;
    height: 100%;
}

.carrito-lateral {
    position: fixed;
    top: 0;
    right: -350px; /* Inicialmente oculto fuera del borde derecho de la pantalla */
    width: 300px;
    height: 100vh;
    background-color: #f9f9f9;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: right 0.3s;
    z-index: 2;
}

.cerrar-carrito {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.item-box .item-cart{
  display: flex;
  padding: 10px 0;
  justify-content: space-around;
}

.item-cart p.precio {
  font-weight: bold;
  color: #f44336; /* Color rojo para el precio */
}

.item-cart p.cantidad {
  color: #2196f3; /* Color azul para la cantidad */
}

/* Estilos para la estructura de dos columnas */
.items-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.item-cart img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.item-cart h4 {
  margin-bottom: 5px;
}

/* Estilos para la lista de elementos del carrito */
.lista-carrito {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Estilos para cada elemento del carrito */
.lista-carrito li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Estilos para la imagen del producto en el carrito */
.lista-carrito img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

/* Estilos para el botón de vaciar carrito */
#vaciar-carrito {
    margin-top: 20px;
}